<app-equality></app-equality>
<p>reactive form implement in equality.ts</p>
<P
  >mathForm un olusturulması get ile form elemanlarının alınması ve html ye
  geçilmesi</P
>
<p>AbstractControl ile komple forma validasyon verme</p>
<p>
  ng g class ile validasyon için class oluşturma moul.ts ve comp.ts te import ve
  kullanma
</p>
<p>ngOnit te this.mathForm.statusChanges e</p>
<p>VALID olduğunda patchValue yada setValue ile değerleri güncelleriz</p>
<p>filter delay işlemleri için pipe kullanılır</p>
<p>ortalama cevap verme için seconds hesaplanır ve htmlde kullanılır</p>
<p>aynı hesaplama rxjs ile yapma</p>
