<!-- <app-chapter1-home></app-chapter1-home>
<app-chapter2-home></app-chapter2-home>
<app-chapter3-home></app-chapter3-home>
<app-chapter4-home></app-chapter4-home>
<app-chapter5-home></app-chapter5-home> -->
<div class="buttons">
  <a class="button" routerLink="/chapter1">chapter1</a>
  <a class="button" routerLink="/chapter2">chapter2</a>
  <a class="button" routerLink="/chapter3">chapter3</a>
  <a class="button" routerLink="/chapter4">chapter4</a>
  <a class="button" routerLink="/chapter5">chapter5</a>
  <a class="button" routerLink="/chapter7">chapter7</a>
</div>

<h1>router-outlet öncesi</h1>
<router-outlet></router-outlet>
<h1>router-outlet sonrası</h1>
