<div
  class="container"
  style="display: flex; flex-direction: column; align-items: center"
>
  <app-displayphoto></app-displayphoto>
  <div>
    <p>--ng g service photo</p>
    <p>photoapp.module.ts HttpClientModule import</p>
    <p>photo.service.ts te depandency injection HttpClient import</p>
    <p>service.ts ctor da private http:HttpClient yada this.http</p>
    <p>CallResponse dönüş class ı ayarlanır</p>
    <p>getphotos() this.http.get(url,header)</p>
    <p>displayphoto.ts e service ts import</p>
    <p>ngOnit yada ctor da getPhotosu çağırıyoruz</p>
    <p>providers: [PhotoService], displayphoto.ts de tanımlanır!!!</p>
  </div>
</div>
